.b-lowermenu{
	background: #1e5fb3;
}

.b-lowermenu__head{
	margin-bottom: 5%;
	margin-top: 5%;
}
.b-lowermenu__line{
	margin-top: 5%;
	border: none;
	background-color: #FFFFFF; /* Цвет линии */
	color: #FFFFFF; /* Цвет линии для IE6-7 */
	height: 1px;
}

.b-lowermenu__social{
	margin-top: 10%;
}

.b-lowermenu__botton{
	margin-bottom: 5%;
}

.b-lowermenu__network{
	margin-left: 5%;
}

.b-lowermenu__text{
	color: #FFFFFF;
}

.b-lowermenu__text:visited{
	color: #FFFFFF;
	text-decoration: none;
}

.b-lowermenu__text:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.b-lowermenu__textlin{
	color: #FFFFFF;
	text-decoration: underline;
}

.b-lowermenu__textlin:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

.b-lowermenu__textlin:visited{
	color: #FFFFFF;
	text-decoration: underline;
}